.grid-container {
  display: grid;
  grid-template-columns: 320px 320px;
  width: 640px;
  height: 720px;
}

.grid-item {
  width: 320px;
  height: 180px;
  color: white;
  background-color: black;
  position: relative;
  text-align: center;
}

.grid-item img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item span {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #d5d0d0ad;
  font-size: medium;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}